/* ADAP Theme: Some light ADAP theming.  If this ever needs to expand further, we will move this to an actual theme repo */
h1.page-title {
	background: #f3f6f7;
	padding: .1em .5em;
	border-bottom: 1px solid #E9ECED;
	border-top: 1px solid #E9ECED;
}
.block-system-user-menu .menu-tree li.leaf, 
.crm-container .crm-button.ui-button, 
.crm-container .crm-button.ui-button:active, 
.crm-container .crm-button.ui-button:hover, 
.crm-container .crm-button.ui-button:focus {
	background-color: #4d4d69;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 2px;
	margin-left: 5px;
	color: #ffffff;
}
.block-block-attributions-block {
	margin-top: -40px;
}
.block-block-attributions-block img {
	max-height: 60px;
	margin-right: 60px;
	-webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}
.block-block-attributions-block span {
	text-transform: uppercase;
	font-size: 9px;
}
.messages.status, .crm-container :not(.crm-footer) .messages.status {
  background: transparent;
  box-shadow: none;
  padding: 0.9em 0.625em 1em 4.375em;
  background-color: #0071bd!important;
  border: none;
  border-radius: 3px;
  color: #ffffff;
}
.messages.status .notify-content,
.messages.status h1 {
	display: inline-block;
	color: #ffffff;
}
.messages.status h1 {
    font-size: 18px;
}
div.messages.status:before {
	background-color: #065284!important;
	background-image: linear-gradient(transparent,transparent),url(/core/misc/message-ok.svg);
	width: 3em;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-position: center .9em;
	background-repeat: no-repeat;
	background-size: 32px;
}
.messages.status .icon {
	display: none;
}