/* ADAP Theme: Some light ADAP theming.  If this ever needs to expand further, we will move this to an actual theme repo */
h1.page-title {
	background: #f3f6f7;
	padding: .1em .5em;
	border-bottom: 1px solid #E9ECED;
	border-top: 1px solid #E9ECED;
}
.block-system-user-menu .menu-tree li.leaf {
	background-color: #4d4d69;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 2px;
	margin-left: 5px;
}